.tnav .navbar{background:white;}
.navbar-fixed-top{
  min-height:60px;
  background:#A0ABB0;
  float:right;
  color=#FFFFFF;
}

.dc-chart text{
  fill: black;
}

#enviados{
  width: 50%;
  margin: 0 auto;
}

#totalRecipients{
  width:50%;
  margin: 0 auto;
}

#totalRecipients .x.axis.text{
  text-anchor: end !important;
  transform: rotate(-45deg);
}

#bounce{
  width:50%;
  margin:0 auto;
}

#successful{
  width: 50%;
  margin: 0 auto;
}

#unique{
  width: 50%;
  margin: 0 auto;
}

#uniqueClicks{
  width:50%;
  margin: 0 auto;
}

#consideracion{
  width: 50%;
  margin: 0 auto;
}

#satisfaccion{
  width:50%;
  margin: 0 auto;
}
#tiempoEmail{
  width:50%;
  margin:0 auto;
}

#Rate{
  width:50%;
  margin: 0 auto;
}

#table{
  position:relative;
  width:50%;
  margin:0 auto;
}

.row{
  margin.bottom: 20px;
}

tr.tabla1{
  th {
    width:40px;
  }
}
a{
  color:red;
}
p, a span{
  color: red;
}
li a {
  color:white;
}

li, a span{
  color:white;
}

#barra ul li a {
color:black;
}
#barra ul li a::selection{color:red;}

/*
div.content {width:1000px;}*/
